<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>798722322327-5c9v7tuus5nfnffiltl7uh550v6kel78.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.798722322327-5c9v7tuus5nfnffiltl7uh550v6kel78</string>
	<key>API_KEY</key>
	<string>AIzaSyBj2nRgDJuWypV_L4qCX1EJoc6bz3vC0kU</string>
	<key>GCM_SENDER_ID</key>
	<string>798722322327</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Sky.Chaat</string>
	<key>PROJECT_ID</key>
	<string>chaat-f074a</string>
	<key>STORAGE_BUCKET</key>
	<string>chaat-f074a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:798722322327:ios:90aa76267356ec2b</string>
	<key>DATABASE_URL</key>
	<string>https://chaat-f074a.firebaseio.com</string>
</dict>
</plist>